@using UI.Models
@model HomeVM

@{
  ViewBag.Title = "Naslovna";

  IEnumerable<BookCardVM> top4NewBooks = Model.Books
                                              .Where(predicate: book => book.Book.IsNew && book.Book.Quantity > 0)
                                              .Take(count: 4);

  IEnumerable<BookCardVM> top4AvailableBooks = Model.Books
                                                    .Where(predicate: book => book.Book.Quantity > 0)
                                                    .Take(count: 4);
}

<div class="text-center">
  <h1 class="h1">@Model.BookStore.Name</h1>
</div>
<hr />

<h3 class="h2 ms-5 mt-5">Nove knjige</h3>
<div class="album py-3">
  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">

      @foreach (BookCardVM book in top4NewBooks) {

        @Html.Partial(partialViewName: "_BookCard", model: book)

      }

    </div>
  </div>
</div>

<h3 class="h2 ms-5 mt-5">Dostupne knjige</h3>
<div class="album py-3">
  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">

      @foreach (BookCardVM book in top4AvailableBooks) {

        @Html.Partial(partialViewName: "_BookCard", model: book)

      }

    </div>
  </div>
</div>