
@{
  ViewBag.Title = "Privacy";
}

<h2>Izjava o privatnosti</h2>

<hr />
<p>
  Knjižara Jež. se obvezuje pružati zaštitu osobnim podacima kupaca, tako da prikuplja samo nužne, osnovne podatke o kupcima / korisnicima koji
  su nužni za ispunjenje ugovora; redovito daje kupcima mogućnost izbora o upotrebi njihovih podataka, uključujući mogućnost odluke žele li ili
  ne da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje. Svi se podaci o korisnicima strogo čuvaju i dostupni su samo djelatnicima kojima
  su ti podaci nužni za obavljanje posla. Svi djelatnici Knjižare Jež d.o.o. i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.
</p>
<h5 class="fw-bold"> Prikupljanje i korištenje informacija</h5>
<p>
  Knjižara Jež cijeni i štiti Vašu privatnost. U procesu realizacije tražene usluge i za davanje obavijesti i informacija vezanih uz Vašu kupovinu ili drugu uslugu, koristit ćemo samo one informacije koje nam svojevoljno date. Obvezujemo se da nećemo prodati, iznijeti ili dati ove informacije trećoj stranci na način koji nije naveden u ovoj izjavi.
</p>
<h5 class="fw-bold">Registracija</h5>
<p>
  Kako bi napravio rezervaciju ili poslao upit na ovim Internet stranicama, korisnik prethodno obavlja registraciju popunjavanjem registracijskog upitnika. Tijekom registracije od korisnika se traže kontakt informacije (poput imena i e-mail adrese, adrese stanovanja, broja telefona). Ove se informacije koriste kako bi se stupilo u kontakt s korisnikom prilikom odgovaranja na pitanja postavljenih na našim Internet stranicama te za osiguravanje privatnosti korisnika pri kontroli statusa rezervacije i unosa ili promjene podataka. Korisnik može poslati upit i bez podataka a samo s ispravno upisanom email adresom.
</p>
<h5 class="fw-bold">Rezervacija</h5>
<p>
  Pri rezervaciji roba ili druge usluge koju nudimo na ovim stranicama, tražit ćemo osobne podatke nositelja rezervacije (poput imena, adrese, kontakt telefona i dr. ). Ti podaci koristit će se isključivo za realizaciju usluge. Podaci o plaćanju (poput broja kartice, i sl.) posebno su zaštićeni i bit će dostupni samo bankama, odnosno kartičnim kućama radi autorizacije plaćanja, nedostupni podaci tvrtki Knjižara Jež d.o.o. a dostupni samo ovlaštenoj tvrtki za prikupljanje takvih podataka ( PayWay Hrvatskog telekoma )
</p>
<h5 class="fw-bold">Log datoteke</h5>
<p>
  IP adrese koristimo kako bismo analizirali trendove, održavali Internet stranice, pratili kretanje korisnika i sakupili šire demografske podatke. IP adrese nisu vezane uz bilo kakve osobne podatke uz pomoć kojih je moguća identifikacija pojedinca.
</p>
<h5 class="fw-bold">Dostupnost informacija</h5>
<p>
  Prikupljeni demografski podaci bit će dostupni našim medijskim partnerima, profesionalcima i oglašivačima. Ovo nije povezano s bilo kakvim osobnim podacima uz pomoć kojih je moguća identifikacija pojedinca. Kako bismo pružili posebne usluge možemo se udružiti s trećom strankom. Samo kad se korisnik prijavi za ove usluge, trećoj stranci bit će dostupna imena ili druge kontakt informacije koje su neophodne za pružanje spomenutih usluga. Trećoj stranci nije dozvoljeno koristiti osobne podatke osim u svrhu pružanja navedenih usluga.
</p>
<h5 class="fw-bold">Linkovi</h5>
<p>
  Ove Internet stranice sadrže linkove na druge Internet stranice. Molimo vas da uzmete u obzir kako Knjižara Jež ne može biti odgovorna za poštivanje privatnosti na spomenutim drugim Internet stranicama. Naše korisnike potičemo da pročitaju izjave o privatnosti svake Internet stranice koja prikuplja osobne podatke. Ova Izjava o privatnosti primjenjuje se isključivo vezano uz informacije prikupljene na ovim Internet stranicama.
</p>
<h5 class="fw-bold">Newsletter</h5>
<p>
  Kontakt informacije, poput imena i e-mail adrese, možda će biti zatražene u slučaju da se korisnik želi prijaviti za primanje newslettera.
</p>
<h5 class="fw-bold">Upitnici</h5>
<p>
  Naše Internet stranice povremeno zahtijevaju podatke od korisnika putem upitnika. Sudjelovanje u ovim upitnicima (npr. nagradne igre) u potpunosti je dobrovoljno i korisniku je ostavljen izbor da pruži ili odbije pružiti tražene podatke. Traženi podaci mogu uključivati kontakt informacije (poput imena ili kućne adrese) i demografske podatke (poput poštanskog broja ili starosne dobi). Kontakt informacije bit će iskorištene kako bi se obavijestili pobjednici i dobitnici nagrada. Rezultati upitnika bit će iskorišteni za praćenje i usavršavanje ovih Internet stranica i/ili naših usluga.
</p>
<h5 class="fw-bold">Sigurnost</h5>
<p>
  Ove Internet stranice poduzimaju sve mjere kako bi zaštitile podatke o korisniku. Unošenje povjerljivih podataka putem ovih Internet stranica zaštićeno je on-line i off-line. Ako se u našem formularu za registraciju od korisnika zahtijevaju povjerljivi podaci (poput osobnih podataka) ti su podaci šifrirani i zaštićeni sigurnosnim protokolom (SSL). Tijekom boravka na zaštićenoj stranici ikona lokota na dnu Internet pretraživača poput Internet Explorera, Netscape Navigatora ili drugih internet browsera je zaključana, za razliku od otključane ili otvorene ikone prilikom uobičajenog pretraživanja naših stranica. Osim korištenja SSL šifriranja kako bismo zaštitili podatke o korisnicima na Internetu, činimo sve što je u našoj mogućnosti kako bismo iste podatke zaštitili i off-line. Pristup svim podacima o našim korisnicima, ne samo gore spomenutim povjerljivim podacima, je ograničen. Pristup povjerljivim podacima imaju samo zaposlenici kojima su isti potrebni kako bi obavili određenu uslugu.
  Za sva dodatna pitanja o sigurnosti na našim Internet stranicama možete poslati e-mail na: gdpr@Knjižara Jež.hr.
</p>
<h5 class="fw-bold">Posebna ponuda</h5>
<p>
  Povremeno možete primati informacije o proizvodima, uslugama i posebnim ponudama te newsletter. Poštujući privatnost svojih korisnika nudimo mogućnost odbijanja ovog tipa informacija. Molimo vas da provjerite način odabira ovih mogućnosti.
</p>
