@using UI.Models
@model  IEnumerable<LoanVM>

@{
  ViewBag.Title = "Povijest posudbi";
}

<h2>Povijest posudbi</h2>

<div class="album py-5">
  <h3>Povijest posudbi</h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var loan in Model) {

        @Html.Partial(partialViewName: "_LoanCard",
                      model: loan)

      }

    </div>
  </div>
</div>
