@model List<string>
@{
  ViewBag.Title = "Paypal";
}

<div id="loginOptionBox" class="text-center">
  <div id="subheading" class="jumbotron text-center">
    <h1>Informacije o transakciji</h1>
    <hr />
  </div>


  
  <!-- display messagesto the payer -->
  @if (Model != null && Model.Count > 0)
  {
    foreach (string res in Model)
    {
      <div class="h4">@res</div>
    }
  }
      else
      {
        <h4>Trenutno nema detalja o transakciji.</h4>
      }

</div>
