@model BLL.Projection.BranchOfficeProjection
@{
  ViewBag.Title = "Contact";
}

<h2>Kontakt</h2>
<div class=" d-flex align-items-center justify-content-center">

  <div class="border border-1 border-secondary" style="width: 40%; padding: 20px 20px 20px 20px;">
    <h4>Kontaktirajte nas</h4>
    <hr />
    <h6>Telefon: @Model.Telephone</h6> @* Editable - Phone *@
    <h6>E-mail: @Model.Email</h6> @* Editable - E-mail *@
    <h6>Adresa: @Model.Address</h6> @* Editable - Adress *@
    <h6>OIB: 09195262064</h6>

    <table class="table table-bordered" style="width:90%">
      <thead class="fw-bold">Radno vrijeme:</thead>
      <tbody>
        <tr>
          <td>
            Pon - Pet
          </td>
          <td align="right">8:00 - 20:00</td>
        </tr>

        <tr>
          <td>
            Subota
          </td>
          <td align="right">8:00 - 15:00</td>
        </tr>

        <tr>
          <td>
            Nedjelja
          </td>
          <td align="right">Ne radimo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>