
@{
    ViewBag.Title = "TermsOfService";
}

<h2>Opći uvjeti poslovanja</h2>
<hr />
<h5 class="fw-bold">Opće odredbe</h5>
<p>
    Vlasnik Internet trgovine  https://knjizarajez.hr  (u daljnjem tekstu Webshop Knjižara Jež) je
    Knjizara Jež obrt za trgovinu, Trg Bana Josipa Jelačića 1.
    Opći uvjeti poslovanja Internet trgovine https://knjizarajez.hr sastavljeni su u skladu sa Zakonom o zaštiti potrošača, Zakonom o obveznim odnosima, Zakonom o zaštiti osobnih podataka i  Zakonom o elektroničkoj trgovini.
    Molimo Vas da kao korisnici pažljivo pročitate ove Opće uvjete poslovanja (u daljnjem tekstu Opći uvjeti) internet trgovine https://knjizarajez.hr.
    Prihvaćanjem Općih uvjeta izjavljujete da ste upoznati sa ovim Općim uvjetima, da ste ih razumjeli, da ste suglasni i da prihvaćate pravila i uvjete navedene u njima. Ukoliko niste suglasni s ovim Općim uvjetima, molimo Vas da nas kontaktirate i za to vrijeme ne koristite ove stranice.
    Svi oglasi, fotografije i informacije o proizvodima koji su predmet kupoprodaje vlasništvo su Prodavatelja, koji je isključivo odgovoran za sadržaj oglasa, što uključuje odgovornost za istinitost i točnost informacija i za obveze koje proizlaze iz sadržaja oglasa.
    Korisnik se slaže da će koristiti web trgovinu isključivo u skladu s pozitivnim propisima za pregled objavljenih sadržaja, kupnju dostupnih proizvoda predavanjem pravno valjanih narudžbi i komunikaciju s prodavateljem.
    Kupac može biti samo punoljetna poslovno sposobna fizička osoba i pravna osoba.
    Ugovor u ime i za račun maloljetnika i poslovno nesposobne osobe mogu zaključiti njegovi zakonski zastupnici ili skrbnici.
    Prodavatelj zadržava pravo u bilo kojem trenutku izmijeniti ili dopuniti Opće uvjete poslovanja. Promjene stupaju na snagu danom objave na web stranici.           Nastavak pristupanja web stranici ili korištenja bilo kojeg dijela njezinog sadržaja smatrat će se pristankom na izmijenjene ili dopunjene Opće uvjete poslovanja.
    Knjizara Jež obrt ne odgovara za troškove korištenja računalne opreme i telekomunikacijskih usluga potrebnih za pristup usluzi.
    Uslugu web trgovine moguće je koristiti isključivo na teritoriju Republike Hrvatske.
    Za postupanje suprotno ovim odredbama Knjizara Jež obrt ne snosi nikakvu odgovornost.
</p>
<h5 class="fw-bold">Uvjeti kupnje</h5>
<p>
    Ovi uvjeti kupnje definiraju postupak:
    1. naručivanja,
    2. plaćanja,
    3. preuzimanja,
    4. povrata i reklamacije.
</p>

<p>
    Prodavatelj (Isporučitelj) je Knjizara Jež obrt za trgovinu putem Internet trgovine https://knjizarajez.hr  (u daljnjem tekstu Webshop Knjizara Jež).
    Kupac robe je posjetitelj internetske trgovine https://knjizarajez.hr koji odabere minimalno jedan proizvod, stavi ga u košaricu, ispuni elektronski obrazac za narudžbu i pošalje narudžbu Prodavatelju.
    Kupac robe može biti posjetitelj internetske trgovine kao gost korisnik ili registrirani korisnik.
    Kupnja kao gost korisnik kupcu omogućuje kupnju svih dostupnih proizvoda te se uneseni podaci koriste samo za trenutačnu kupnju, ali neće biti pohranjeni u bazu kupaca Internet trgovine.
    Kupnja kao registrirani korisnik pruža kupcu dodatne mogućnosti kao što su:
    – Brži proces narudžbe i naplate
    – Pregled prošlih narudžbi
    – Izmjena podataka korisničkog računa
    – Spremanje dodatnih adresa
    Sve cijene izražene su u hrvatskoj nacionalnoj valuti Hrvatska kuna (kn), s uračunatim PDV-om od 25%.
    Istaknute cijene proizvoda ne sadrže cijenu troškova prijevoza, dostave ili poštanskih usluga koje se naplaćuju dodatno.
    Sva plaćanja provode se u hrvatskoj nacionalnoj valuti Hrvatska kuna (kn).
</p>

<h5 class="fw-bold">1. Naručivanje</h5>
<p>
    Naručivanje robe moguće je 24 sata na dan, 7 dana u tjednu.
    Roba se naručuje elektronskim obrascem.
    Nakon zaključene i poslane narudžbe kupac će primit e-mailom automatski generiranu poruku od strane sustava Webshop Knjizara Jež da je narudžba zaprimljena.
    Obavijest o potvrdi narudžbe Kupac će primiti e-mailom nakon provjere dostupnosti proizvoda.
    Ukoliko Prodavatelj nije u mogućnosti isporučiti sve naručene proizvode pravovremeno će o tome obavijestiti Kupca putem e-maila i upoznati ga o drugim mogućnostima.
    Ako se Kupac ne slaže s ponuđenim izmjenama ili odgodama, može otkazati narudžbu u cijelosti.
    Kupac može otkazati narudžbu sve do trenutka njenog slanja a nakon toga kupac je obvezan preuzeti pošiljku.
</p>
<h5 class="fw-bold">2. Plaćanje</h5>
<p>
    U Webshopu Knjizara Jež moguće je odabrati sljedeći način plaćanja:

    PayPal-om

    Kod odabira ovog načina plaćanja kupac će biti preusmjeren na stranicu za plaćanje.
</p>
<h5 class="fw-bold">3. Preuzimanje</h5>
<p>
    Rok do kad možete preuzeti narudžbu je od 2 do 5 radnih dana od dana primitka narudžbe (plaćanje pouzećem).
    Prilikom preuzimanja u poslovnici rok za preuzimanje je 3 radna dana od dana potvrde dostupnosti proizvoda.
    Preuzimanje se vrši unutar radnog vremena knjižare
    Preuzimanje se ne vrši vikendima i blagdanima
    U slučaju da Kupac naruči robu i odbije je primiti, Prodavatelj ima pravo tražiti od Kupca nadoknadu troškova.
</p>

<h5 class="fw-bold">4. Povrat i reklamacije</h5>
<p>
    Jednostrani raskid ugovora, povrat, zamjena artikala i povrat novca
    Temeljem članka 72. Zakona o zaštiti potrošača potrošač ima pravo, ne navodeći za to razloge, jednostrano raskinuti ugovor i to u roku od 14 dana od dana predaje predmeta u posjed potrošaču.   U obliku Informativnog obrasca (link: Informativni obrazac o pravu na jednostrani raskid ugovora -Zakon o zaštiti potrošača) o pravu na jednostrani raskid ugovora o kupoprodaji navode se prava i obveze Kupca, kao i prava i obveze Prodavatelja u slučaju ostvarivanja prava korisnika na jednostrani raskid ugovora o kupoprodaji.
    Obrazac za jednostrani raskid ugovora o kupoprodaji možete preuzeti ovdje u DOC ili PDF obliku:
    Obrazac za jednostrani raskid ugovora/DOC
    Obrazac za jednostrani raskid ugovora/PDF
    Izravne troškove povrata robe snosi Kupac.
    Prilikom povrata robe pošiljke sa naznačenom otkupninom neće biti preuzete.
    Proizvodi koje Kupac vraća moraju biti neoštećeni, nenošeni i neoprani i sa originalnim etiketama.
    Korisnik/kupac je odgovoran za svako umanjenje vrijednosti robe koje je rezultat rukovanja robom:
    1. Nepažljivo isprobavanje proizvoda kada veličina nije odgovarajuća, prilikom čega može doći do oštećenja materijala, pucanja štepova, pucanja zatvarača.
    2. Nepažljivo isprobavanje prilikom čega na proizvodima ostaju tragovi pudera, šminke i drugih kozmetičkih proizvoda.
    Kod jednostranog raskida ugovora, Kupac se može odlučiti:
    -na povrat uplaćenih sredstava, u tom slučaju Kupac dostavlja robu na adresu Prodavatelja o svom trošku, a Prodavatelj mu nakon zaprimljene i provjerene robe, doznačuje sredstva na račun umanjena za troškove dostave ili
    -na zamjenu artikla za drugi artikl ili zamjenu istog artikla za drugu veličinu. U tom slučaju Kupac dostavlja robu na adresu Prodavatelja o svom trošku, Prodavatelj mu nakon zaprimanja robe šalje zamijenjeni artikl ili isti artikl druge veličine i naplaćuje troškove ponovne dostave, kao i u slučaju doplate razlike u cijeni manjoj od 299,00 kn.
</p>

<h5 class="fw-bold">Povrat novca</h5>
<p>
    U slučaju kada se Kupac odluči na povrat novca, iznos u visini prodajne cijene vraćenih proizvoda doznačit ćemo Vam na tekući račun (bez troškova dostave). Kupac treba na Obrascu za jednostrani raskid ugovora o kupoprodaji navesti IBAN broj i banku kod koje je otvoren tekući račun te broj telefona.
</p>
<h5 class="fw-bold">Reklamacije</h5>
<p>
    Prodavatelj odgovara za materijalne nedostatke ako je proizvod imao nedostatak u trenutku prijelaza rizika na Kupca, bez obzira da li mu je to bilo poznato. Prodavatelj odgovara i za one materijalne nedostatke koji se pojave nakon prijelaza rizika na Kupca ako su posljedica uzroka koji je postojao prije toga. Prodavatelj ne odgovara za neznatan materijalni nedostatak.
    Kod reklamacije zbog materijalnog nedostatka na proizvodu kupac treba popuniti pisani prigovor potrošača i poslati ga Prodavatelju u zakonskom roku.
    Reklamacija će se smatrati valjanom ukoliko se pregledom proizvoda utvrdi da odgovara uvjetima za reklamaciju sukladno Zakonu o obveznim odnosima i Zakonu o zaštiti potrošača.
    Reklamacije se mogu podnositi putem pisanog prigovora potrošača (obrazac za pisani prigovor potrošača dostupan je u nastavku teksta).
    Svoje prigovore sukladno članku 10. Zakona o zaštiti potrošača možete poslati na adresu:
</p>
<h5 class="fw-bold">Prigovor</h5>
<p>
    Trgovina Knjizara Jež
    Trg Bana Josipa Jelačića 1, 10000, Zagreb
    ili putem kontakt izbornika,  kao i putem elektroničke pošte na e-mail: webshop.Knjizara Jež@gmail.com
</p>

<h5 class="fw-bold">Rješavanje potrošačkih sporova</h5>
<p>
    Ovim putem Vas obavještavamo da svaki spor rješavamo mirnim putem – sporazumno, kao i o Vašem pravu da koristite mehanizme izvansudskog rješavanja potrošačkih sporova pravom pokretanja postupka izvansudskog rješavanja spora podnošenjem prijave Sudu časti Hrvatske gospodarske Komore, i/ili podnošenjem prijedloga za mirenje Centru za mirenje pri Hrvatskoj gospodarskoj Komori.
    Online rješavanje potrošačkih sporova
    Od 15. veljače 2016. kupci sporove također mogu alternativno rješavati putem internetske platforme za rješavanje sporova:
    <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
</p>

<h5 class="fw-bold">Ugovor o kupnji</h5>
<p>
    Predmet Ugovora je kupnja odabranog proizvoda putem Webshopa Knjizara Jež uz plaćanje cijene toga proizvoda i troškova dostave.
    Ugovor se zaključuje sredstvima daljinske komunikacije (Ugovor sklopljen na daljinu) i to putem Interneta.
    Ovi Opći uvjeti kao i pojedini uvjeti prodaje naznačeni uz informacije o određenim proizvodima predstavljaju ponudu Webshopa Knjizara Jež za sklapanje Ugovora.
    Korisnik kao kupac svojom registracijom, zaključivanjem narudžbe ili na drugi način utvrđen ovim Uvjetima iste prihvaća čime se smatra da je zaključen Ugovor između korisnika i Webshopa Knjizara Jež, a prema uvjetima prodaje navedenim u ovim Uvjetima.
    Ugovor ne stupa na snagu samom obavljenom narudžbom i primitkom automatizirane poruke od strane sustava Webshop Knjizara Jež da je narudžba zaprimljena, jer u trenutku obavljene narudžbe proizvod može promijeniti raspoloživost ili cijenu.
    Ugovor stupa na snagu i obavezuje u trenutku kada Webshop Knjizara Jež potvrdi raspoloživost i cijenu proizvoda i ovisno o načinu plaćanja pošalje službenu obvezujuću ponudu za plaćanje virmanom ili pošalje kupcu račun i obavijest o vremenu slanja pošiljke (kod plaćanja pouzećem).
</p>

<h5 class="fw-bold">Zaštita autorskih prava</h5>
<p>
    Webshop Knjizara Jež je vlasnik autorskih prava, idejnog i izvedbenog projekta kao i svih softverskih aplikacija na ovim stranicama. Sve fotografije, kao i svi tekstualni materijali vlasništvo su webshopa Knjizara Jež, te bez znanja i pismenog pristanka nije dozvoljeno kopiranje i/ili korištenje informacija istaknutih na ovim stranicama u komercijalne svrhe.
    Sva prava su pridržana. Korištenjem ove web stranice izričito se obvezujete da podatke i informacije, a posebice fotografije i tekstove, kao i bilo koje druge materijale u vlasništvu Webshopa Knjizara Jež nećete koristiti u zakonom zabranjene ili ovim uvjetima nedopuštene radnje ili svrhe.
</p>
<h5 class="fw-bold">Registracija korisnika</h5>
<p>
    U postupku registracije ili kreiranja korisničkog računa, korisnik je obvezan odabrati naziv ili ime pod kojim će ostvarivati usluge i odabrati sigurnosnu zaporku te dostaviti valjanu e-mail adresu.
    Svi podatci potrebni za registraciju ili kreiranje korisničkog računa moraju biti istiniti,
    pri čemu je izričito zabranjeno korištenje ili uporaba tuđih ili neistinitih podataka.
    Registracija ili korisnički račun kreiraju se samo za jednu osobu i nije dozvoljeno priopćavati podatke o registraciji ili korisničkom računu trećim osobama. Korisnik je obvezan čuvati podatke o svojoj sigurnosnoj zaporci i korisničkom računu. Nije dozvoljena uporaba tuđe registracije ili korisničkog računa.
    Za kršenje odredbi Uvjeta iz ovog poglavlja, Webshop Knjizara Jež zadržava pravo, prema slobodnoj ocjeni, ugasiti registraciju ili korisnički račun korisnika, bez obveze naknade korisniku bilo kakvog troška ili štete.
</p>
<h5 class="fw-bold">Izjava o zaštiti i prikupljanju osobnih podataka</h5>
<p>
    Prodavatelj se obvezuje pružati zaštitu osobnih podataka kupaca, tako da prikuplja samo nužne, osnovne podatke o kupcima/korisnicima koji su nužni za ispunjenje Prodavateljevih obveza. Prodavatelj informira Korisnike o načinu korištenja prikupljenih podataka, redovito daje kupcima mogućnost izbora o upotrebi njihovih podataka, uključujući mogućnost odluke žele li ili ne da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje.
    Svi podaci o Korisnicima strogo se čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje posla. Svi djelatnici Prodavatelja i poslovni partneri Prodavatelja odgovorni su za poštivanje načela zaštite privatnosti.
    Prodavatelj jamči da osobni podaci korisnika neće nikada biti dani na uvid i uporabu trećoj strani, bez prethodne izričite privole korisnika.
    Od ovoga se izuzima uvid od strane ovlaštenih službi izvršne državne vlasti Republike Hrvatske, za potrebe istražnih radnji temeljem valjanog sudskog naloga.
</p>
<h5 class="fw-bold">Korištenje „kolačića“</h5>
<p>
    Kada pristupate internetskoj stranici www.knjizarajez.hr općeniti, neosobni podaci (broj posjete, prosječno vrijeme posjete stranici, posjećene stranice) automatski se bilježe (ne kao dio prijave).
    Te podatke ne možemo povezati s vašim osobnim podacima i oni su u potpunosti neosobni. Te informacije koristimo za mjerenje privlačnosti naše internetske stranice i poboljšavanje sadržaja i korisnosti same stranice. Vaše podatke ne koristimo u druge svrhe i ne posredujemo trećim osobama. Kolačići su nevidljivi dokumenti koji su trenutno sačuvani na vašem tvrdom disku i omogućavaju prodavatelju prepoznavanje vašeg računala, kada sljedeći put posjetite internetsku stranicu. Prodavatelj koristi kolačiće samo za skupljanje informacija koje se koriste za upotrebu internetske stranice i za optimizaciju svojih internetskih aktivnosti oglašavanja. Korištenjem ove internetske stranice dajete svoju suglasnost za korištenjem kolačića. Ukoliko ne želite omogućiti spremanje kolačića to možete podesiti u svom internet pregledniku.
    Korisnici koji odluče ne prihvatiti osnovne kolačiće neće moći koristiti stranicu www.knjizarajez.hr jer bez korištenja kolačića nije moguće registrirati korisnički račun niti dodavati proizvode u košaricu.
</p>
<h5 class="fw-bold">Pitanja i prijedlozi</h5>
<p>
    Imate li kakvih pitanja ili prijedloga molimo kontaktirajte nas na:
    e-mail: info.knjizarajez@gmail.com ili putem našeg kontakt obrasca.
</p>
<h5 class="fw-bold">Nadležnost</h5>
<p>
    Za sve sporove proizašle iz korištenja web stranice www.knjizarajez.hr ugovara se nadležnost suda u Zagrebu.

    Posljednja izmjena 17.11.2020.
</p>