@using UI.Models
@model  IEnumerable<LoanVM>

@{
}

<div>
  @Html.ActionLink(linkText: "Povijest posudbi",
                   actionName: "LoanHistory",
                   controllerName: "Dashboard",
                   routeValues: null,
                   htmlAttributes: new {
                     @class = "btn btn-primary"
                   })
  @Html.ActionLink(linkText: "Povijest kupnji",
                   actionName: "ShoppingHistory",
                   controllerName: "Dashboard",
                   routeValues: null,
                   htmlAttributes: new {
                     @class = "btn btn-primary"
                   })
</div>

<div class="album py-5">
  <h3>Trenutno posuđene knjige</h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var loan in Model) {

        @Html.Partial(partialViewName: "_LoanCard",
                      model: loan)

      }

    </div>
  </div>
</div>