@using BLL.Projection
@{
  ViewBag.Title = "Kontrolna ploča";
  var user = Session["user"] as UserProjection;
}

<h2>Kontrolna ploča</h2>

@if (user.IsAdmin)
{
  @Html.Partial(partialViewName: "_AdminDashboard")
}
else
{
  @Html.Partial(partialViewName: "_UserDashboard")
}