@using BLL.Projection
@using UI.Models
@model  IEnumerable<PurchaseBookVM>
@{
  var user = Session["user"] as UserProjection;
}
@{
  ViewBag.Title = "Povijest prodaje";
}

<h2>Povijest prodaje</h2>
@* Implement pageing if needed *@
<div class="album py-5">
  <h3>Povijest kupovina</h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var purchase in Model)
      {

        @Html.Partial(partialViewName: "_PurchaseCard", model: purchase)

      }

    </div>
  </div>
</div>


