@using UI.Models
@model  IEnumerable<PurchaseVM>

@{
  ViewBag.Title = "Povijest kupovina";
}

<h2>Povijest kupovina</h2>

<div class="album py-5">
  <h3>Povijest kupovina</h3>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var purchase in Model) {

        @Html.Partial(partialViewName: "_PurchaseCard",
                      model: purchase)

      }

    </div>
  </div>
</div>
