
@{
  ViewBag.Title = "ConfirmationSent";
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>ConfirmationSent</title>
</head>
<body>
  <div>
    <h2>Link za promjenu zaporke je poslan na vaš mail </h2>
  </div>
  <div>
    <a href="@Url.Action("Index","Book")">Početna</a>
  </div>
</body>
</html>