@model UI.Models.ResetPasswordVM

@{
  ViewBag.Title = "RequestResetPassword";
}

<h2>ResetPassword</h2>

<div>
  <h4>Link sa uputama za obnovu zaporke je poslan na vaš mail</h4>
</div>


<div>
  @Html.ActionLink("Početna", actionName: "Index", controllerName: "Book");
</div>
