@using UI.Models
@model IEnumerable<BookPublisherVM>

@{
  ViewBag.Title = "Početna";

  IEnumerable<BookPublisherVM> top5NewBooks = Model.Where(predicate: book => book.Book.IsNew && book.Book.Quantity > 0)
                                                   .Take(count: 5);

  IEnumerable<BookPublisherVM> top5AvailableBooks = Model.Where(predicate: book => book.Book.Quantity > 0)
                                                         .Take(count: 5);
}

<div class="text-center">
  <h1 class="h1">Knjižara Jež Zagreb</h1>
</div>
<hr />

<h3 class="h2 ms-5 mt-5">Nove knjige</h3>
<table align="center">
  <tr>
    @foreach (var book in top5NewBooks) {

      @Html.Partial(partialViewName: "_BookCard", model: book)

    }
  </tr>
</table>

<h3 class="h2 ms-5 mt-5">Dostupne knjige</h3>
<table align="center">
  <tr>
    @foreach (var book in top5AvailableBooks) {

      @Html.Partial(partialViewName: "_BookCard", model: book)

    }
  </tr>
</table>
