@model BLL.Projection.BookProjection

@{
    ViewBag.Title = "Search page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchPage</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
