@using UI.Models
@model MessageListVM

@{
  ViewBag.Title = "Korisničke poruke";
}

<h2 class="h2 text-center">Korisničke poruke</h2>
<hr class="mb-5" />

<h3 class="h3 ms-5">Neodgovorene poruke</h3>
<div class="album py-3">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var message in Model.NotRespondedMessages) {

        @Html.Partial(partialViewName: "_MessageCard",
                      model: message)

      }

    </div>
  </div>
</div>

<h3 class="h3 ms-5 mt-5">Odgovorene poruke</h3>
<div class="album py-3">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      @foreach (var message in Model.RespondedMessages) {

        @Html.Partial(partialViewName: "_MessageCard",
                      model: message)

      }

    </div>
  </div>
</div>
